<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="online.done.sea">
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 让应用启动设备发现或操纵蓝牙设置 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- LE Beacons位置相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 获取本机手机信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 允许访问WiFi网络状态信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许读取手机状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许应用联网 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许访问网络状态 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许写手机存储 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StartV20">
        <activity
            android:name=".test.MapTestActivity"
            android:label="test" />
        <activity android:name=".location.LocationActivity" android:label="@string/location_name"></activity>
        <activity
            android:name=".server.SocketServerActivity"
            android:label="@string/socket_name" />
        <activity
            android:name=".bluetooth.BluetoothActivity"
            android:label="@string/bluetooth_name" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/register_name" />
        <activity
            android:name=".index.IndexActivity"
            android:label="@string/index_name" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>